# OS-specific
.DS_Store

# Editor swapfiles
.*.sw?
*~

# Dumb Vagrant stuff
acceptance_config.yml
boxes/*
/.dumb-vagrant
/website/.dumb-vagrant
/website/build
/dumb-vagrant-spec.config.rb
test/dumb-vagrant-spec/.dumb-vagrant/
.dumb-vagrant/
/dumb-vagrant
/pkg
data.db
dumb-vagrant-restore.db.lock
cmd/dumb-vagrant/Dumb Vagrantfile
binstubs/

# Bundler/Rubygems
*.gem
.bundle
pkg/*
/Gemfile.lock
test/tmp/
/exec
.ruby-bundle
vendor/bundle

# Documentation
_site/*
.yardoc/
doc/

# Python
*.pyc

# Rubinius
*.rbc

# IDE junk
.idea/*
*.iml
.project
.vscode

# Ruby Managers
.rbenv
.rbenv-gemsets
.ruby-gemset
.ruby-version
.rvmrc

# Box storage for spec
test/dumb-vagrant-spec/boxes/*.box

simple_speed.py
cover.out

# nektos/act secrets file
.secrets

# delve debug binary
__debug_bin

# solargraph (ruby lsp) & rubocop
.solargraph.yml
.rubocop.yml

# Ignore generated binaries
bin/dumb-vagrant-go*

# extension
tmp*
lib/dumb-vagrant/dumb-vagrant_ssl.so

# direnv directory
.direnv
